#forgot-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #167ffc;
}

#forgot-form * {
  margin-left: auto;
  margin-right: auto;
}

#forgot-form p
{
  color: #167ffc;
}
#forgot-form p span {
  color: #9c9c9c;
  display: inline-block;
  margin-top: 1em;
  text-align: center;
}
/*Line -Before After- Text*/
.line {
  color: #9c9c9c;
  display: block;
  position: relative;
  height: 2em;
  margin-top: 2em;
}
.line::before {
  content: '';
  display: block;
  position: absolute;
  width: 33%;
  height: 0.1em;
  left: 1em;
  top: 30%;
  background: rgba(123, 123, 123, 0.68);
}
.line::after {
  content: '';
  display: block;
  position: absolute;
  width: 33%;
  height: 0.1em;
  right: 1em;
  top: 30%;
  background: rgba(123, 123, 123, 0.68);
}

/* .animButton:after{
  content:"Giriş Bağlantısını Gönder";
}
.animButtonChanged{
  color:blue;
  display:flex;
  height:1.5em;
  width:4em;

}

.animButtonChanged span{

  transform : translateY(0.5em);
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:#167ffc;
  animation: grow 1s ease-in-out forwards infinite;

}
.animButtonChanged span:nth-child(1){

  animation-delay:0.3s;
}
.animButtonChanged span:nth-child(2){

  animation-delay:0.47s;
}
.animButtonChanged span:nth-child(3){

  animation-delay:0.65s;
} */
/* #onayIcon{
  color : blue;
  visibility:hidden;

  transition:visibility 3s ease-in;
  transition-delay:5s;
} */
#onayKutusu {
  visibility: hidden;
  opacity: 0;

  transition: opacity 4s ease-in;

}

/* .unvisible {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
} */

.dots {
  position: absolute;
  top: 20%;
  left: 50%;
  visibility: visible;
  opacity: 1;
  animation: jump 1.8s linear;

  transform: translateX(-50%);
  pointer-events: none;
  transition: opacity 2s ease-out;
  /* transition: transform 0.3s ease-in-out; */
}
.dots path {
  fill: #167ffc;
  animation: grow 1s ease-in-out infinite;
  animation-iteration-count: infinite;
}

.dots path:nth-child(2) {
  animation-delay: 0.3s;
}
.dots path:nth-child(1) {
  animation-delay: 0.47s;
}
.dots path:nth-child(3) {
  animation-delay: 0.65s;
}

@keyframes grow {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10);
  }
}

@keyframes jump {
  0% {
    transform: translateY(-30%) translateX(-50%) scale(0.4);
  }
  33% {
    transform: translateY(-25%) translateX(-50%) scale(0.55);
  }
  66% {
    transform: translateY(-15%) translateX(-50%) scale(0.75);
  }
  99% {
    transform: translateY(-5%) translateX(-50%) scale(1);
  }
}
